html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Home CSS */


.home{
    height: 100%;
    width: 100%;
    background: #88f2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7671ff, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7671ff, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center{
    margin: 15px 0 0 0;
    height: 100%;
    width: 100%;
    background-color: #f939f1
}