body{
overflow-x: hidden;
height: 100%;
width: 100%;
}

.large-header {
    position: relative;
    width: 100%;
    background: #111;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
 
.demo .large-header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}
 
.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 35%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
 
.demo .main-title {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
    font-weight: 300;
}

 
@media only screen and (max-width: 768px) {
.demo .main-title {
    font-size: 3em;
    }
}

.demo .head-tag{
    width: 100%;
    position: absolute;
    top: 17.5%;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
}
h4{
    font-weight: 200;
}
.typed{
    width: 100%;
    top: 48%;
    position: absolute;
    text-transform: uppercase;
    color: #F9F1E9;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.contact{
    width: 100%;
    top: 75%;
    position: absolute;
    text-align: center;
    margin: auto;
}

.contact .fab{
    height: 60px;
    width: 60px;
    background-color:transparent;
    color: #F9F1E9;
    font-size: 40px;
    text-align: center;
    margin:0 20px 0 20px;
}